body { 
    padding: 50px;
    background-color: powderblue;

}

* {
 font-family: 'Lilita One', cursive;
}

#game {
    text-align: center;
    font-size: 60px;
    display: flex;
    justify-content:center;
}

.disc {
    border: solid;
    border-radius: 20px;
}

#d1 {
    background-color: blue;
    width: 100px;
    height: 100px;
}

#d2 {
    background-color: purple;
    width: 200px;
    height: 100px;
}

#d3 {
    background-color: green;
    width: 300px;
    height: 100px;
}

#d4 {
    background-color: red;
    width: 400px;
    height: 100px;
    
}

.tower {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    align-items: center;
    background-color: black;
    height: 500px;
    width: 30px;
}

#towerContainer {
    display: flex;
    justify-content: space-evenly;
    
}

.container {
    padding: 300px 300px 0px 300px;
    
}

#towerDiv {
    margin-left: 200px;
    margin-right: 200px;
}
#winContainer {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
}

#winButton {
    font-size: 100px;
    border-radius: 20px;
    
}

#winDiv {
    font-size: 200px;
    text-align: center;
    color: red;
}